{% load static %}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.png' %}"/>
    <head>
        <title>Coronavirus</title>
    </head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Chart.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Candal&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css'><link rel="stylesheet" href="./style.css">
    
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src = "{% static 'js/Chart.min.js' %}"></script>
    <script>
        var endpoint = 'get-data'
        var dbdata = []
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data){
                var confirmed = data.confirmed
                var dead = data.dead
                var recovered = data.recovered
                var dblabel = data.date
                console.log(dblabel)
                var ctx = document.getElementById('confirmed-chart');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: dblabel,
                        datasets: [{
                            label: 'No. of Confirmed cases',
                            data: confirmed,
                            backgroundColor: [
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    }
                });
                var ctx = document.getElementById('dead-chart');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: dblabel,
                        datasets: [{
                            label: 'No. of Deaths',
                            data: dead,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    }
                });
                var ctx = document.getElementById('recovered-chart');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: dblabel,
                        datasets: [{
                            label: 'No. of Recovered cases',
                            data: recovered,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    }
                });
            },
            error: function(error_data){
                console.log("error"),
                console.log(error_data)
            }
        })
    </script>
        
    <body>

        <section id = 'Landing'>
            <picture>
                <source media = "(min-width: 720px)" srcset="{% static 'images/Landing.png' %}">
                <source id = 'lan-mob' media = "(max-width: 720px)" srcset="{% static 'images/l-m.png' %}">
                <img id = "landing-img" src = "{% static 'images/Landing.png' %}">    
            </picture>
            <p id = 'covid-landing'>STOP</p>
            <p id = 'lt-landing'>CORONAVIRUS</p>
            <p id = 'lt1-landing'>scroll down to learn more</p>
        </section> 

        <section id = 'symptoms'>
            <p id = 'symptoms-title'>Symptoms</p> 
            <picture>
                <source media = "(min-width: 720px)" srcset="{% static 'images/Symptoms.svg' %}">
                <source id = 'sym-mob' media = "(max-width: 720px)" srcset="{% static 'images/s-m.png' %}">
                <img id = "symptoms-img" src = "{% static 'images/Symptoms.svg' %}">    
            </picture>
        </section>    
            
        <section id = 'prevention'>
            <p id = 'prevention-title'>Prevention</p> 
            <div class="grid-container">
                <img id = "p1-img" src = "{% static 'images/p1.svg' %}">     
                <img id = "p2-img" src = "{% static 'images/p2.svg' %}">   
                <img id = "p3-img" src = "{% static 'images/p3.svg' %}">   
                <img id = "p4-img" src = "{% static 'images/p4.svg' %}">  
            </div>
        </section>

        <p id = 'hotspots-title'>Hotspots</p>
        <section id = 'hotspots'>
            
            <img id = "hotspots-img" src = "{% static 'images/World mapCOVID.png' %}">
            {% for i in hotspots %}
                {%if i.cd == US%}
                    <img id = "us" src = "{% static 'images/pointer.png' %}">
                {% endif %}
                {%if i.cd == Italy%}
                    <img id = "italy" src = "{% static 'images/pointer.png' %}">
                {% endif %}
                {%if i.cd == Spain%}
                    <img id = "spain" src = "{% static 'images/pointer.png' %}">
                {% endif %}
                {%if i.cd == Germany%}
                    <img id = "germany" src = "{% static 'images/pointer.png' %}">
                {% endif %}
                {%if i.cd == China%}
                    <img id = "china" src = "{% static 'images/pointer.png' %}" title="China">
                {% endif %}
            {% endfor %}
        </section>
        <section class="content">
            <div class="search-bar">
              <input 
                     type="text" 
                     class="search-bar__input" 
                     placeholder="Search country"
                     aria-label="search"/>
              <button 
                      class="search-bar__submit"
                      aria-label="submit search">
                <i class="fas fa-search"></i>
              </button>
            </div>
        </section>
        <section id = 'live-status'>
                <p id = 'status-title'>Live Status</p>
            <div class="container">
                <ul class="responsive-table" id = 'table-l'>
                    <li class="table-header">
                        <div class="col col-1" id = 'location'>Location</div>
                        <div class="col col-2" id = 'affected'>Affected</div>
                        <div class="col col-3" id = 'deaths'>Deaths</div>
                        <div class="col col-4" id = 'recovered'>Recovered</div>
                    </li>
                    <div class="scroll">
                        {% for r in records %}
                            <li class="table-row">
                                <div class="col col-1" id = 'cnt-dt' data-label="Location" >{{ r.cd }}</div>
                                <div class="col col-2" id = 'aff-dt' data-label="Affected">{{ r.cn }}</div>
                                <div class="col col-3" id = 'dt-dt' data-label="Deaths">{{ r.d }}</div>
                                <div class="col col-4" id = 'rc-dt' data-label="Recovered">{{ r.r }}</div>
                            </li>
                        {% endfor %}    
                    </div>
                </ul>    
            </div>
        </section>
        <section id = 'charts'>
            <div class = "grid-container1">
                <div class="chart-container" style="position: relative; margin-top: 20%;height:30%; width:50%">
                    <canvas id="confirmed-chart" width="200" height="100"></canvas>
                </div>
                <div class="chart-container" style="position: relative; height:30%; width:50%">
                    <canvas id="dead-chart" width="200" height="100"></canvas>
                </div>
                <div class="chart-container" style="position: relative; height:30%; width:50%">
                    <canvas id="recovered-chart" width="200" height="100"></canvas>
                </div>
            </div>   
        </section>   
    </body>
</html>
