* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary: #552944;
  --clr-body: rgb(219, 182, 18);
  --clr-bg: #ddd;
}
html,
body {
    max-width: 100%;
    overflow-x: hidden;
    position:relative;
}

#Landing {
  margin-top: -3%;
  position: relative;
}

#landing-img {
  height: 98%;
  width: 98%;
  margin-left: 60px;
  margin-bottom: -30px;
}
#covid-landing {
  position: absolute;
  top: 35%;
  font-family: "Candal", sans-serif;
  font-size: 6vw;
  left: 5%;
  color: #ebae71;
}
#lt-landing {
  position: absolute;
  top: 49%;
  font-family: "Candal", sans-serif;
  font-size: 6vw;
  left: 5%;
  color: #562844;
}
#lt1-landing {
  position: absolute;
  top: 73%;
  font-family: "Avenir", sans-serif;
  font-size: 2vw;
  left: 5%;
  color: #1f1b1d;
}

#status-title {
  position: relative;
  margin-top: 5%;
  font-family: "Candal", sans-serif;
  font-size: 5vw;
  left: 10%;
  color: #433e3e;

}
#symptoms-title {
  position: absolute;
  margin-top: 3.5%;
  font-family: "Candal", sans-serif;
  font-size: 5vw;
  left: 10%;
  color: #ffffff;
}

#symptoms-img {
  height: 80%;
  width: 100%;
}
#prevention-title {
  position: relative;
  margin-top: 5%;
  font-family: "Candal", sans-serif;
  font-size: 5vw;
  left: 10%;
  color: #433e3e;
  margin-bottom: 10%;
}
#p1-img {
  position: relative;
  height: 20%;
  width: 20%;
  margin-right: 4%;
}
#p2-img {
  position: relative;
  height: 20%;
  width: 20%;
  margin-right: 4%;
}
#p3-img {
  position: relative;
  height: 20%;
  width: 20%;
  margin-right: 4%;
}
#p4-img {
  position: relative;
  height: 20%;
  width: 20%;
}
.grid-container {
  margin-left: 8%;
}

.container {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 13px;
  padding-right: 10px;
  margin-top: 10%;
}

div.scroll {
  margin-left: -3px;
  padding: 4px;
  width: 733px;
  height: 510px;
  overflow-x: hidden;
  overflow-x: auto;
}
.responsive-table li {
  border-radius: 3px;
  padding: 13px 18px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  text-align: right;
}
.responsive-table .table-header {
  background-color: #552944;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: "Candal", sans-serif;
  color: white;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 20%;
  text-align: left;
}
.responsive-table .col-2 {
  flex-basis: 10%;
  text-align: right;
}
.responsive-table .col-3 {
  flex-basis: 10%;
  text-align: right;
}
.responsive-table .col-4 {
  flex-basis: 10%;
  text-align: right;
}
#hotspots {
  position: relative;
  padding-left: 2.5%;
}

#us {
  position: absolute;
  height: 3vw;
  width: 3vw;
  top: 38%;
  left: 20%;
}
#italy {
  position: absolute;
  height: 3vw;
  width: 3vw;
  top: 33%;
  left: 47%;
}
#germany {
  position: absolute;
  height: 3vw;
  width: 3vw;
  top: 27%;
  left: 46%;
}
#china {
  position: absolute;
  height: 3vw;
  width: 3vw;
  top: 39%;
  left: 67%;
}
#spain {
  position: absolute;
  height: 3vw;
  width: 3vw;
  top: 35%;
  left: 41.75%;
}
#hotspots-img {
  height: 60vw;
  width: 100vw;
  margin-bottom: -30px;
}
#hotspots-title {
  position: relative;
  margin-top: 5%;
  font-family: "Candal", sans-serif;
  font-size: 5vw;
  left: 10%;
  color: #433e3e;
}
#search-text {
  position: relative;
  font-family: "Candal", sans-serif;
  font-size: 5vw;
  color: #433e3e;
  margin-bottom: 5%;
  margin-top: 10%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 10px;
}
.heading {
  position: absolute;
  color: #433e3e;
  margin-top: 10.5%;
  left: 10%;
  font-size: 5vw;
  font-family: "Candal";
}
#analysis {
  position: absolute;
  font-family: Candal;
  color: #433e3e;
  margin-top: 10.5%;
  left: 10%;
  font-size: 5vw;
}
.grid-container1 {
  vertical-align: middle;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-container {
  margin-top: 30%;
  margin-left: 5%;
  margin-right: 5%;
  vertical-align: middle;
  display: flex;
  gap: 10%;
  justify-content: center;
  flex-wrap: wrap;
}

.chart-container {
  position: relative;
  height: 20%;
  width: 40%;
}
.chart-container1 {
  position: relative;
  height: 40%;
  width: 60%;
}
header {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 190px;
}

header h1 {
  font: normal 32px/1.5 "Open Sans", sans-serif;
  color: #3f71ae;
  padding-bottom: 16px;
}

header h2 {
  color: #f05283;
}

header span {
  color: #3f71ea;
}

/* The footer is fixed to the bottom of the page */

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-image: url('/static/images/background.png');
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: 16px sans-serif;
  padding: 50px 50px 10px 50px;
  margin-top: 80px;
  position: relative;
  margin-bottom: -5%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  margin-top: 2px;
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff00;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img {
  width: 30%;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  margin-top: -5px;
  width: 25%;
}

.footer-distributed .footer-center i {
  background-color: #ffffff00;
  color: #ffffff;
  text-align: center;
  line-height: 22px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #ffffff;
  text-decoration: none;
}
s
 
 
/* Footer Right */
 
.footer-distributed .footer-right {
  margin-top: 40px;
  width: 15%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #000000;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-family: "Candal";
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 15px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #ffffff00;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
@media only screen and (max-width: 760px) {
  .chart-container {
    position: relative;
    height: 70%;
    width: 90%;
  }
  .chart-container1 {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .flex-container {
    height: 120;
  }
  #search-text {
    font-size: 7.5vw;
    display: flex;
    justify-self: center;
    align-self: center;
  }
  #analysis {
    padding-left: 29%;
    justify-self: center;
    align-self: center;
    margin-top: 10%;
  }
  #status-title {
    padding-left: 27%;
    justify-self: center;
    align-self: center;
    margin-top: 10%;
  }
  #prevention-title {
    padding-left: 25%;
    justify-self: center;
    align-self: center;
    margin-top: 20%;
  }
  .grid-container {
    display: block;
    margin-left: 1%;
  }
  div.scroll {
    margin: 4px, 4px;
    padding: 4px;
    width: 101%;
    height: 510px;
    overflow-x: hidden;
    overflow-x: auto;
  }
  #p1-img {
    position: relative;
    height: 45%;
    width: 45%;
    justify-self: center;
    align-self: center;
    padding-left: 5%;
  }
  #p2-img {
    position: relative;
    height: 45%;
    width: 45%;
    justify-self: center;
    align-self: center;
    padding-left: 5%;
  }
  #p3-img {
    position: relative;
    height: 45%;
    width: 45%;
    justify-self: center;
    align-self: center;
    padding-left: 5%;
  }
  #p4-img {
    position: relative;
    height: 45%;
    width: 45%;
    justify-self: center;
    align-self: center;
    padding-left: 5%;
  }
  #hotspots-img {
    margin-bottom: -8%;
  }
  #symptoms-title {
    padding-left: 25%;
    padding-top: 5%;
  }
  #covid-landing {
    padding-left: 5%;
    font-size: 8vw;
    margin-top: 60%;
  }
  #lt-landing {
    margin-top: 55%;
    padding-left: 5%;
    font-size: 8vw;
  }
  #lt1-landing {
    margin-top: 45%;
    padding-left: 6%;
    font-size: 4vw;
  }
  #hotspots-title {
    padding-left: 26%;
    margin-top: 20%;
  }
  #landing-img {
    position: relative;
  }
  #sym-mob {
    height: 25vw;
    width: 50vw;
  }
  #us {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 37%;
    left: 20%;
  }
  #italy {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 37%;
    left: 47.75%;
  }
  #germany {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 30%;
    left: 47%;
  }
  #china {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 38%;
    left: 68%;
  }
  #spain {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 38%;
    left: 43%;
  }
  #symptoms {
    margin-top: 50%;
  }
  #landing-img {
    position: relative;
    height: auto;
    width: 120vw;
    margin-left: -60px;
  }
  .container {
    margin-top: 20%;
  }
  .responsive-table .col-1 {
    flex-basis: 40%;
    text-align: left;
  }
  .responsive-table .col-2 {
    flex-basis: 10%;
    text-align: right;
  }
  .responsive-table .col-3 {
    flex-basis: 10%;
    text-align: right;
  }
  .responsive-table .col-4 {
    flex-basis: 10%;
    text-align: right;
  }
  #location {
    font-size: 80%;
  }
  #deaths {
    font-size: 80%;
  }
  #affected {
    font-size: 80%;
  }
  #recovered {
    font-size: 80%;
  }
}
