* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary: #552944;
  --clr-body: rgb(219, 182, 18);
  --clr-bg: #ddd;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
#Landing {
  margin-top: -3%;
  position: relative;
}

#landing-img {
  height: 98%;
  width: 98%;
  margin-left: 60px;
  margin-bottom: -30px;
}
#covid-landing {
  position: absolute;
  top: 35%;
  font-family: "Candal", sans-serif;
  font-size: 6vw;
  left: 5%;
  color: #ebae71;
}
#lt-landing {
  position: absolute;
  top: 49%;
  font-family: "Candal", sans-serif;
  font-size: 6vw;
  left: 5%;
  color: #562844;
}
#lt1-landing {
  position: absolute;
  top: 73%;
  font-family: "Avenir", sans-serif;
  font-size: 2vw;
  left: 5%;
  color: #1f1b1d;
}

#status-title {
  position: relative;
  margin-top: 5%;
  font-family: "Candal", sans-serif;
  font-size: 5vw;
  left: 10%;
  color: #433e3e;
  margin-top: -20%;
  margin-bottom: 10%;
}
#symptoms-title {
  position: absolute;
  margin-top: 3.5%;
  font-family: "Candal", sans-serif;
  font-size: 5vw;
  left: 10%;
  color: #ffffff;
}

#symptoms-img {
  height: 80%;
  width: 100%;
}
#prevention-title {
  position: relative;
  margin-top: 5%;
  font-family: "Candal", sans-serif;
  font-size: 5vw;
  left: 10%;
  color: #433e3e;
  margin-bottom: 10%;
}
#p1-img {
  position: relative;
  height: 20%;
  width: 20%;
  margin-right: 4%;
}
#p2-img {
  position: relative;
  height: 20%;
  width: 20%;
  margin-right: 4%;
}
#p3-img {
  position: relative;
  height: 20%;
  width: 20%;
  margin-right: 4%;
}
#p4-img {
  position: relative;
  height: 20%;
  width: 20%;
}
.grid-container {
  margin-left: 8%;
}

.container {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 13px;
  padding-right: 10px;
  margin-top: 20%;
}

div.scroll {
  margin-left: -3px;
  padding: 4px;
  width: 733px;
  height: 510px;
  overflow-x: hidden;
  overflow-x: auto;
}
.responsive-table li {
  border-radius: 3px;
  padding: 13px 18px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  text-align: right;
}
.responsive-table .table-header {
  background-color: #552944;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-family: "Candal", sans-serif;
  color: white;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 20%;
  text-align: left;
}
.responsive-table .col-2 {
  flex-basis: 10%;
  text-align: right;
}
.responsive-table .col-3 {
  flex-basis: 10%;
  text-align: right;
}
.responsive-table .col-4 {
  flex-basis: 10%;
  text-align: right;
}
#hotspots {
  position: relative;
  padding-left: 2.5%;
}

#us {
  position: absolute;
  height: 3vw;
  width: 3vw;
  top: 38%;
  left: 20%;
}
#italy {
  position: absolute;
  height: 3vw;
  width: 3vw;
  top: 33%;
  left: 47%;
}
#germany {
  position: absolute;
  height: 3vw;
  width: 3vw;
  top: 27%;
  left: 46%;
}
#china {
  position: absolute;
  height: 3vw;
  width: 3vw;
  top: 39%;
  left: 67%;
}
#spain {
  position: absolute;
  height: 3vw;
  width: 3vw;
  top: 35%;
  left: 41.75%;
}
#hotspots-img {
  height: 60vw;
  width: 100vw;
  margin-bottom: -30px;
}
#hotspots-title {
  position: relative;
  margin-top: 5%;
  font-family: "Candal", sans-serif;
  font-size: 5vw;
  left: 10%;
  color: #433e3e;
}
.content {
  background-color: #ffffff;
  width: 70vw;
  padding-left: 29%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.search-bar {
  --size: 60px;
  border: 2px solid var(--clr-primary);
  display: flex;
  border-radius: 100vh;
  width: var(--size);
  height: var(--size);
  padding: 3px;
  position: relative;
  overflow: hidden;
  transition: width 400ms cubic-bezier(0.18, 0.89, 0.32, 1.15);
  /* focus-within alters the parent of the child being focus*/
}
.search-bar__input {
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 0 0.5em;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  transition: opacity 400ms ease-in;
}
.search-bar__input:focus {
  outline: 0;
}
.search-bar__submit {
  font-size: 1.7rem;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
  background-color: #552944;
  width: calc(var(--size) - 10px);
  height: calc(var(--size) - 10px);
  margin-left: auto;
  transition: background-color 350ms ease-in-out;
}
.search-bar:focus-within {
  width: 100%;
}
.search-bar:focus-within .search-bar__submit {
  background-color: var(--clr-primary);
  color: rgba(255, 255, 255, 0);
}
.search-bar:focus-within .search-bar__submit:focus,
.search-bar:focus-within .search-bar__submit:hover {
  outline: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}
.search-bar:focus-within .search-bar__input {
  opacity: 1;
  cursor: initial;
  width: calc(100% - var(--size));
}
#search-text {
  position: relative;
  font-family: "Candal", sans-serif;
  font-size: 5vw;
  color: #433e3e;
  margin-bottom: 5%;
  margin-top: 10%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 10px;
}
.grid-container1{
    vertical-align: middle;
    display: flex
    
}
@media only screen and (max-width: 760px) {
  #search-text {
    font-size: 7.5vw;
    display: flex;
    justify-self: center;
    align-self: center;
  }
  #status-title {
    padding-left: 25%;
    justify-self: center;
    align-self: center;
    margin-top: -32%;
  }
  #prevention-title {
    padding-left: 25%;
    justify-self: center;
    align-self: center;
    margin-top: 20%;
  }
  .grid-container {
    display: block;
    margin-left: 1%;
  }
  div.scroll {
    margin: 4px, 4px;
    padding: 4px;
    width: 101%;
    height: 510px;
    overflow-x: hidden;
    overflow-x: auto;
  }
  #p1-img {
    position: relative;
    height: 45%;
    width: 45%;
    justify-self: center;
    align-self: center;
    padding-left: 5%;
  }
  #p2-img {
    position: relative;
    height: 45%;
    width: 45%;
    justify-self: center;
    align-self: center;
    padding-left: 5%;
  }
  #p3-img {
    position: relative;
    height: 45%;
    width: 45%;
    justify-self: center;
    align-self: center;
    padding-left: 5%;
  }
  #p4-img {
    position: relative;
    height: 45%;
    width: 45%;
    justify-self: center;
    align-self: center;
    padding-left: 5%;
  }
  #hotspots-img {
    margin-bottom: -8%;
  }
  #symptoms-title {
    padding-left: 25%;
    padding-top: 5%;
  }
  #covid-landing {
    padding-left: 5%;
    font-size: 8vw;
    margin-top: 60%;
  }
  #lt-landing {
    margin-top: 55%;
    padding-left: 5%;
    font-size: 8vw;
  }
  #lt1-landing {
    margin-top: 45%;
    padding-left: 6%;
    font-size: 4vw;
  }
  #hotspots-title {
    padding-left: 26%;
    margin-top: 20%;
  }
  #landing-img {
    position: relative;
  }
  #sym-mob {
    height: 25vw;
    width: 50vw;
  }
  #us {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 37%;
    left: 20%;
  }
  #italy {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 37%;
    left: 47.75%;
  }
  #germany {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 30%;
    left: 47%;
  }
  #china {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 38%;
    left: 68%;
  }
  #spain {
    position: absolute;
    height: 3vw;
    width: 3vw;
    top: 38%;
    left: 43%;
  }
  #symptoms {
    margin-top: 50%;
  }
  #landing-img {
    position: relative;
    height: auto;
    width: 120vw;
    margin-left: -60px;
  }
  .content {
    margin-top: 35%;
    margin-left: 1.25%;
  }
  .container {
    margin-top: 40%;
  }
  .responsive-table .col-1 {
    flex-basis: 40%;
    text-align: left;
  }
  .responsive-table .col-2 {
    flex-basis: 10%;
    text-align: right;
  }
  .responsive-table .col-3 {
    flex-basis: 10%;
    text-align: right;
  }
  .responsive-table .col-4 {
    flex-basis: 10%;
    text-align: right;
  }
  #location {
    font-size: 80%;
  }
  #deaths {
    font-size: 80%;
  }
  #affected {
    font-size: 80%;
  }
  #recovered {
    font-size: 80%;
  }
}
