{% load static %}
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.png' %}"/>
    <head>
        <title>Coronavirus</title>
    </head>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Chart.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Candal&display=swap" rel="stylesheet">
    
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/maps.js"></script>
    <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
    <script src="https://kit.fontawesome.com/3da9cc3f09.js" crossorigin="anonymous"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src = "{% static 'js/Chart.min.js' %}"></script>

    <script>
        $('html').css('overflow-x', 'initial');
        $.getJSON('get-data', function(data) {
            var confirmed = data.confirmed
            var logConfirmed = []
            var logRecovered = []
            var logDead = []
            var i
            for(i = 0 ; i < confirmed.length; i++){
                logConfirmed[i] = Math.log(confirmed[i])
            }
            var recovered = data.recovered
            for(i = 0 ; i < recovered.length; i++){
                logRecovered[i] = Math.log(recovered[i])
            }
            var dead = data.dead
            for(i = 0 ; i < dead.length; i++){
                logDead[i] = Math.log(dead[i])
            }
            var dblabel = data.date
            var countries = data.topcountry
            var countryConfirmed = data.topcountry_confirmed
            var clabel = data.confirmed_labels
            var ctx = document.getElementById('confirmed-chart');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dblabel,
                    datasets: [{
                        label: 'No. of confirmed cases worldwide',
                        data: confirmed,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            
                        ],
                        
                    }],
                },
                options: {
                    elements: {
                        point:{
                            radius: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                            
                        }],
                        yAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                            
                        }]
                    }
                }
            });
            var ctx = document.getElementById('log-confirmed-chart');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dblabel,
                    datasets: [{
                        label: 'Rate of increase of new cases worldwide',
                        data: logConfirmed,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                        ],                            
                    }]
                },
                options: {
                    elements: {
                        point:{
                            radius: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }   
                        }]
                    }
                }
            });
            var ctx = document.getElementById('dead-chart');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dblabel,
                    datasets: [{
                        label: 'No. of dead cases worldwide',
                        data: dead,
                        backgroundColor: [
                            'rgba(255, 159, 64, 0.2)',
                            
                        ],
                        borderColor: [
                            'rgba(255, 159, 64, 1)'
                            
                        ],
                        
                    }],
                },
                options: {
                    elements: {
                        point:{
                            radius: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                            
                        }],
                        yAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                            
                        }]
                    }
                }
            });
            var ctx = document.getElementById('log-dead-chart');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dblabel,
                    datasets: [{
                        label: 'Rate of increase of deaths worldwide',
                        data: logDead,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                        ],                            
                    }]
                },
                options: {
                    elements: {
                        point:{
                            radius: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }   
                        }]
                    }
                }
            });
            var ctx = document.getElementById('recovered-chart');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dblabel,
                    datasets: [{
                        label: 'No. of recovered cases worldwide',
                        data: recovered,
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            
                        ],
                        
                    }],
                },
                options: {
                    elements: {
                        point:{
                            radius: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                            
                        }],
                        yAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                            
                        }]
                    }
                }
            });
            var ctx = document.getElementById('log-recovered-chart');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dblabel,
                    datasets: [{
                        label: 'Rate of increase of recovery worldwide',
                        data: logRecovered,
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                        ],                            
                    }]
                },
                options: {
                    elements: {
                        point:{
                            radius: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            }   
                        }]
                    }
                }
            });
            var ctx = document.getElementById('countries-chart');
            var myChart = new Chart(ctx, {
                type: 'line',
                borderWidth: 0.5,
                data: {
                    labels: clabel,
                    datasets: [{
                        label: [countries[0]],
                        data: countryConfirmed[0],
                        backgroundColor: [
                            'rgba(255, 255, 255, 0)',    
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                        ], 
                    },
                    { 
                    label: [countries[1]],
                        data: countryConfirmed[1],
                        backgroundColor: [
                            'rgba(255, 255, 255, 0)',    
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                        ], 
                    },
                    { 
                    label: [countries[2]],
                        data: countryConfirmed[2],
                        backgroundColor: [
                             'rgba(255, 255, 255, 0)',    
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                         ],                            
                    },
                    { 
                    label: [countries[3]],
                        data: countryConfirmed[3],
                        backgroundColor: [
                            'rgba(255, 255, 255, 0)',    
                        ],
                        borderColor: [
                            'rgba(255, 159, 64, 1)',
                        ],                            
                    },
                    { 
                    label: [countries[4]],
                        data: countryConfirmed[4],
                        backgroundColor: [
                            'rgba(255, 255, 255, 0)',    
                        ],
                        borderColor: [
                            'rgba(1, 10, 255, 1)',
                        ], 
                    },
                    { 
                    label: [countries[5]],
                        data: countryConfirmed[5],
                        backgroundColor: [
                            'rgba(255, 255, 255, 0)',    
                        ],
                        borderColor: [
                            'rgba(125, 60, 255, 1)',
                        ],                            
                    },
                    { 
                    label: [countries[6]],
                        data: countryConfirmed[6],
                        backgroundColor: [
                            'rgba(255, 255, 255, 0)',    
                        ],
                        borderColor: [
                            'rgba(249, 197, 189, 1)' ,
                        ],                            
                                                   
                    }]                                                           
                },
                options: {
                    elements: {
                        point:{
                            radius: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Day 0 corresponds to day of 100th covid-19 confirmed case'
                            }
                        }],
                        yAxes: [{
                            gridLines: {
                                drawOnChartArea: false
                            },
                            ticks: {
                                display: false
                            } 
                        }]
                    }
                }
            }); 
        })
    </script>
    <body>

        <section id = 'Landing'>
            <picture>
                <source media = "(min-width: 720px)" srcset="{% static 'images/Landing.png' %}">
                <source id = 'lan-mob' media = "(max-width: 720px)" srcset="{% static 'images/l-m.png' %}">
                <img id = "landing-img" src = "{% static 'images/Landing.png' %}">    
            </picture>
            <p id = 'covid-landing'>STOP</p>
            <p id = 'lt-landing'>CORONAVIRUS</p>
            <p id = 'lt1-landing'>scroll down to learn more</p>
        </section> 

        <section id = 'symptoms'>
            <p id = 'symptoms-title'>Symptoms</p> 
            <picture>
                <source media = "(min-width: 720px)" srcset="{% static 'images/Symptoms.svg' %}">
                <source id = 'sym-mob' media = "(max-width: 720px)" srcset="{% static 'images/s-m.png' %}">
                <img id = "symptoms-img" src = "{% static 'images/Symptoms.svg' %}">    
            </picture>
        </section>    
            
        <section id = 'prevention'>
            <p id = 'prevention-title'>Prevention</p> 
            <div class="grid-container">
                <img id = "p1-img" src = "{% static 'images/p1.svg' %}">     
                <img id = "p2-img" src = "{% static 'images/p2.svg' %}">   
                <img id = "p3-img" src = "{% static 'images/p3.svg' %}">   
                <img id = "p4-img" src = "{% static 'images/p4.svg' %}">  
            </div>
        </section>

        <p id = 'hotspots-title'>Hotspots</p>
        <section id = 'hotspots'>
            <img id = "hotspots-img" src = "{% static 'images/World mapCOVID.png' %}">
            {% for i in hotspots %}
                {%if i.cd == US%}
                    <img id = "us" src = "{% static 'images/pointer.png' %}">
                {% endif %}
                {%if i.cd == Italy%}
                    <img id = "italy" src = "{% static 'images/pointer.png' %}">
                {% endif %}
                {%if i.cd == Spain%}
                    <img id = "spain" src = "{% static 'images/pointer.png' %}">
                {% endif %}
                {%if i.cd == Germany%}
                    <img id = "germany" src = "{% static 'images/pointer.png' %}">
                {% endif %}
                {%if i.cd == China%}
                    <img id = "china" src = "{% static 'images/pointer.png' %}" title="China">
                {% endif %}
            {% endfor %}
        </section>
        <section class="content">
        </section>

        <section id = 'live-status'>
                <p id = 'status-title'>Live Status</p>
            <div class="container">
                <ul class="responsive-table">
                    <li class="table-header">
                        <div class="col col-1" id = 'location'>Location</div>
                        <div class="col col-2" id = 'affected'>Affected</div>
                        <div class="col col-3" id = 'deaths'>Deaths</div>
                        <div class="col col-4" id = 'recovered'>Recovered</div>
                    </li>
                    <div class="scroll" id = 'data-table'>
                        <div id = 'data-row'>
                            {% for r in records %}
                            <li class="table-row">
                                <div class="col col-1" id = 'cnt-dt' data-label="Location" >{{ r.country }}</div>
                                <div class="col col-2" id = 'aff-dt' data-label="Affected">{{ r.confirmed }}</div>
                                <div class="col col-3" id = 'dt-dt' data-label="Deaths">{{ r.dead }}</div>
                                <div class="col col-4" id = 'rc-dt' data-label="Recovered">{{ r.recovered }}</div>
                            </li>
                            {% endfor %}  
                        </div>     
                    </div>
                </ul>    
            </div>
        <p id = 'analysis'>Analysis</p>
        </section>
        <section id = 'charts'>
            <div class = "flex-container">
                <div class="chart-container">
                    <canvas id="confirmed-chart" width="200" height="150"></canvas>
                </div>
                <div class="chart-container">
                    <canvas id="log-confirmed-chart" width="200" height="150"></canvas>
                </div>
                <div class="chart-container">
                    <canvas id="dead-chart" width="200" height="150"></canvas>
                </div>
                <div class="chart-container">
                    <canvas id="log-dead-chart" width="200" height="150"></canvas>
                </div>
                <div class="chart-container">
                    <canvas id="recovered-chart" width="200" height="150"></canvas>
                </div>
                <div class="chart-container">
                    <canvas id="log-recovered-chart" width="200" height="150"></canvas>
                </div>
                
                <p style = "position: relative; font-family: Candal; color: #433e3e; margin-top: 10.5%;font-size: 3vw;margin-bottom: 5%;">Top countries confirmed cases trend</p>
                <div class="chart-container1">
                    <canvas id="countries-chart" width="200" height="150"></canvas>
                </div>
            </div>  
        </section>  


        <footer class="footer-distributed">
			<div class="footer-left">
                <p class="footer-company-about">
					<span>ABOUT</span>
                    <p style = "color: white;">Made by Punid Ramesh <i class="fas fa-code"></i></p>
                    <div class="footer-icons">
                        <a itemprop="url" rel="noopener" target="_blank" href="https://github.com/punidramesh"><i class="fab fa-github"></i></a>
                        <a itemprop="url" rel="noopener" target="_blank" href="https://linkedin.com/in/punid"><i class="fab fa-linkedin"></i></a>
                        <a itemprop="url" rel="noopener" target="_blank" href="https://twitter.com/punidramesh"><i class="fab fa-twitter"></i></a>
                    </div>
			</div>
 
			<div class="footer-center">
                <p class="footer-company-about">
					<span>DATA SOURCE </span>
                    <a itemprop="url" rel="noopener" target="_blank" class="text-justify" href = "https://thevirustracker.com/"> <i class="fas fa-viruses"></i>  thevirustracker</a><br>
                    <a itemprop="url" rel="noopener" target="_blank" class="text-justify" href = "https://github.com/pomber/covid19"><i class="fa fa-github"></i> pomber/covid19</a>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span>VECTOR DESIGN </span>
					<a itemprop="url" rel="noopener" target="_blank" class="text-justify" href="https://www.freepik.com/free-vector/coronavirus-infographic-collection-template_7186780.htm" style = "color: white; text-decoration: none;">Freepik</a>
			</div>
		</footer>
    </body>
</html>